[user]
    name = Cor Zuurmond
    email = corzuurmond@xccelerated.io

[core]
    # Non-Windows: change CRLF -> LF automatically
    autocrlf = input
    # Ignore file permission changes
    filemode = false
	editor = vim

[push]
    default = simple

[color]
    status = auto
    ui = auto
    interactive = auto

[alias]
    st = status
    ci = commit
    co = checkout
    br = branch
    lg = log --graph --pretty=format:'%C(yellow)%h%C(cyan)%d%Creset %s %C(white)- %an, %ar%Creset'
    hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
[commit]
	verbose = true
