# vim
*.swp
*.swo
tags

# Direnv
.envrc
.direnv/

venv/
__pycache__
.ipynb_checkpoints
.mypy_cache
.ruby-version
.DS_Store
.env

# Terraform
.terraform/
terraform.tfstate
terraform.tfstate.backup
.terraform.tfstate.lock.info
